:root {
    --d3-red: #e33;
    --d3-brightred: #e50712;
    --d3-black: #303030;
    --d3-white: #fff;
    --d3-content-bg: #fff;
    --d3-setoff-bg: #eee;
    --d3-setoff-border: silver;
    --d3-sidebar-bg: #fafafa;
    --d3-text: #303030;
    --d3-text-light: silver;
    --d3-text-contrast: #fff;
}

body {
    background: var(--d3-white);
}
.sidebar a:not(.imglink), .sidebar a:not(.imglink):visited, .sidebar a:not(.imglink):focus, .sidebar a:not(.imglink):active {
    background-color:var(--d3-white);
    color:var(--d3-red);
    text-decoration:none;
}
.sidebar a:not(.imglink):hover {
    background-color:var(--d3-black);
    color:var(--d3-white);
}
.sidebar {
    font-family: monospace;
    color:var(--d3-white);
    overflow-y:auto;
}
.sidebar .d3-logo svg {
    fill:var(--d3-white);
    height:1.5em;
    width:auto;
}
.content {
    overflow-y:auto;
}
.log {
    overflow-y:auto;
}
img {
    position:relative;
}
img.icon {
    height:40px;
    width:auto; 
    cursor:pointer;
}
img.icon:hover {
    filter: saturate(2);
    transform: scale(1.2);
}
img.die, .die img, img.dicetable {
    height:40px;
    width:auto;
    cursor:pointer;
}
img.die:hover {
    filter: saturate(2);
    transition: transform 200ms;
}
img.dicetable {
    filter: saturate(0);
}
img.dicetable:hover {
    filter: saturate(1);
    transform: scale(1.2);
}
#log {
    font-family: monospace;
    max-height:300px;
}
#log .loglines {
    overflow-y: auto;
}

#log .rolls .roll {
    border-bottom:1px solid var(--white);
}
#log .rolls .roll b.received {
    color:var(--d3-red);
}

.mt-timeline {
    height:fit-content;
    max-width:600px;
}
.footer {
    font-family: monospace;
    font-size:smaller;
    background-color:var(--d3-black);
    color:var(--d3-white);
    border-top:2px solid var(--d3-white);
}
.footer a {
    color:var(--d3-red);
    text-decoration:none;
}
.footer a:not(.imglink):hover {
    background-color:var(--d3-white);
    color:var(--d3-black);
}


.sendericons {
    display:inline-block;
    margin-right:0.5em;
    mix-blend-mode: difference;
    cursor:zoom-in;
    height:1.2em;
}
.sendericons svg {
    height:1em;
    width:auto;
}
.sendericons.zoom {
    cursor:normal;
    text-align:center;
    display:block;
    height:fit-content;
}
.sendericons.zoom svg {
    display:inline-block;
    height:8em;
}
#registerid {
    cursor:zoom-in;
}

#room {
    display:inline-block;
    cursor:pointer;
}
#roomname {
    font-weight:bolder;
}
#registerid {
    display:inline-block;
}
#btnRoll {
    font-size:1.4em;
    margin-left:0.5em;
    cursor:pointer;
}
#btnRoll svg path {
    fill: #303030;
}
#btnRoll:hover svg {
    transform: rotate(360deg);
    transition: 600ms ease-out;
}
#btnRoll:hover svg path {
    fill: #ee3333;
}

input::placeholder {
    font-style: italic;
    opacity: 0.5;
}
#diceroll {
    font-family: monospace;
}
.formulaform {
    max-width:600px;
    padding-left:calc( 24px + 4px + 64px );
    padding-right:calc( 24px + 8px + 64px );
}
#btnRegisterPanel {
    margin-left:auto; margin-right:auto; left:0; right:0; width:fit-content; 
    color:var(--bs-gray);
    cursor:pointer;
}
#btnRegisterPanel:hover {
    color:var(--d3-black);
}
#sendRolls, #receiveRolls {
    cursor:pointer;
}

.toast {
    opacity: 1 !important;
    background-color: var(--d3-white);
}

#register-icons {
    vertical-align:middle;
}

.pixels-logo svg {
    margin-top:60px;
    margin-right:-10px;
    height:50px;
}